'fileTypes': [
  'moos'
]
'name': 'MOOS Configuration File'
'patterns': [
  {
    'include': '#items'
  }
]
'repository':
  'constants':
    'match': '(?i)(true|false)'
    'name': 'constant.language.boolean.moos'
  'comments':
    'begin': '//'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.moos'
    'end': '\\n'
    'name': 'comment.line.moos'
  'items':
    'patterns': [
      {
        'include': '#constants'
      }
      {
        'include': '#comments'
      }
    ]
'scopeName': 'source.moos'
