'scopeName': 'source.moos'
'name': 'MOOS Configuration File'
'fileTypes': [
  'moos'
  '_moos'
]
'patterns': [
  {
    'include': '#items'
  }
]
'repository':
  'constants':
    'match': '(?i)(true|false)'
    'name': 'constant.language.boolean.moos'

  'includes':
    'begin': '^\\s*((#)\\s*(include|import))\\b\\s*'
    'beginCaptures':
      '1':
        'name': 'keyword.control.directive.$3.c'
      '2':
        'name': 'punctuation.definition.directive.c'
    'end': '(?=(?://|/\\*))|(?<!\\\\)(?=\\n)'
    'name': 'meta.preprocessor.include.c'

  'comments':
    'begin': '//'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.moos'
    'end': '\\n'
    'name': 'comment.line.moos'

  'items':
    'patterns': [
      {
        'include': '#constants'
      }
      {
        'include': '#comments'
      }
      {
        'include': '#includes'
      }
    ]
